<div class="container">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
     <tr  *ngFor="let film of films">
       <td>{{ film.name }}</td>
       <td>{{ film.description }}</td>
       <td><img src="{{ film.photo }}"/></td>
       <td>
         
         <button  class="btn btn-primary"  (click)="editFilm(film)" >Edit</button>
         <button  class="btn btn-danger"  (click)="deleteFilm(film)">Delete</button>
         
       </td>
     </tr>
  </table>
</div>